<!DOCTYPE html>

<html>
<head>
	<meta name="generator" content="Makefile">
	<title>Lubomir Rintel's web log</title>
	<link
		rel="alternate"
		type="application/rss+xml"
		title="lkundrak's Journal Feed"
		href="rss.xml">
</head>

<body>

	<!--
	<center>
	<form method="get" action="../htdig/search.cgi" style="
		background: url('../img/grass.png');
		background-repeat: repeat-x;
		background-position: bottom;
		border-bottom: 1px solid black;
		padding: .3em;
	">
	<img src="../img/ovka.gif" alt="Ovca"><br>
	<input type="hidden" name="config" value="htdig">

	<input type="hidden" name="method" value="and">
	<input type="hidden" name="format" value="builtin-long">
	<input type="hidden" name="sort" value="score">
	<input type="text" name="words">
	<input type="submit" value="Search site">
	<a href="htdig" style="color: white"><b>advanced search</b></a>
	</form>
	</center>
	-->

	<img src="images/cereal.png" alt="" align="left">
	<h1>Nobody reads this anyway</h1>
	<i>Web 2.0 blog of Spirituality, Romance, National values, Apple computers, Pop music and Python programming.</i>

	<p>
	<small>
	So I have a journal again. Please pardon me if I don't update it regularly -- I decided
	not to go with wordpress or bloxspot and did a really bad job replacing them, so it's
	a big pain to write journal entries for me. I prayed for help, no answer so far. Maybe my
	prayer got stuck in spam filter.
	</small>
	</p>

	@LATEST@
	@LIKE@

	<hr>

	@OLDER@

	<hr>

	<p>Source code to the entries and scripts that format this site are available on
	<a href="http://github.com/lkundrak/journal">github</a>. Text of journal entries
	is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>
	license.</p>

	Mail questions, comments and pizza to
	<a href="mailto:lkundrak@v3.sk"><tt>lkundrak@v3.sk</tt></a>
</body>

</html>
