<!DOCTYPE html>

<html>
<head>
	<meta name="generator" content="Makefile">
	<title>Lubomir Rintel's web log | @TITLE@</title>
</head>

<body>
	@BODY@
	@LIKE@

        <hr>

	<a href="../index.html">Back to index...</a>
	<dl>
		<dt>First published</dt><dd>@FIRST@</dd>
		<dt>Last changed</dt><dd>@LAST@</dd>
	</dl>
	<hr>

	<p>Source code to the entries and scripts that format this site are available on
	<a href="http://github.com/lkundrak/journal">github</a>. Text of journal entries
	is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>
	license.</p>

        Mail questions, comments and pizza to
        <a href="mailto:lkundrak@v3.sk"><tt>lkundrak@v3.sk</tt></a>
</body>

</html>
