<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<!-- $Id$ -->

<html>
<head>
	<meta name="generator" content="Makefile">
	<title>lkundrak's Journal | @TITLE@</title>
</head>

<body>
	<h1>lkundrak's web log</h1>

	<a href="../index.html">Back to index...</a>
	<dl>
		<dt>First published</dt><dd>@FIRST@</dd>
		<dt>Last changed</dt><dd>@LAST@</dd>
	</dl>
	<hr>

	@BODY@

        <hr>
        Mail questions, comments and pizza to
        <a href="mailto:lkundrak@v3.sk"><tt>lkundrak@v3.sk</tt></a>
</body>

</html>
