<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<!-- $Id$ -->

<html>
<head>
	<meta name="generator" content="Makefile">
	<title>lkundrak's Journal | @TITLE@</title>
</head>

<body>
	<h1>lkundrak's web log</h1>

	@BODY@

        <hr>
        Mail questions, comments and pizza to
        <a href="mailto:lkundrak@redhat.com"><tt>lkundrak@redhat.com</tt></a>

        <div style="display: none;">
        <a href="http://skosi.org/~lkundrak/">libexig</a>
        </div>
</body>

</html>
